<!DOCTYPE html>
<html>
<head>
  <title>Audio Visualizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Open+Sans:300,600" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1 class="logo"><%= link_to "Audio Visualizer", root_url %></h1>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <% if logged_in? %>
    <div class="username">
      Welcome <%= link_to current_user.username, user_url(current_user) %>!
      <%= button_to "Sign Out", session_url, method: :delete %>
    </div>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>

<%= yield %>

</body>
</html>
